<div class="card-body request-form" id="delete-form">
    <h6 class="card-title">DELETE USER</h6>
    <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
        <div class="form-group">
            <form id="delete-form-object">
                <input type="text" class="form-control" name="id" placeholder="ID" id="delete-field">
            </form>
        </div>
        <div class="row">
            <div class="container text-right">
                <button class="btn btn-shadow btn-light" id="confirmDeleteSubmit">SUBMIT</button>
            </div>
        </div>
    </div>
</div>