<div class="card-body request-form" id="get-form">
    <h6 class="card-title">GET USER</h6>
    <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
        <div class="form-group">
            <input type="text" class="form-control" id="idField" placeholder="ID">
        </div>
        <div class="row">
            <div class="container text-right">
                <button class="btn btn-shadow btn-light" id="getSubmit">SUBMIT</button>
            </div>
        </div>
    </div>
</div>