<div class="card-body request-form" id="post-form">
    <h6 class="card-title">CREATE USER</h6>
    <div class="ht-tm-codeblock ht-tm-btn-replaceable ht-tm-element ht-tm-element-inner">
        <div class="form-group">
            <form id="post-form-object">
                <div class="my-1">
                    <input type="text" class="form-control" name="username" placeholder="Username">
                </div>
                <div class="my-1">
                    <input type="password" class="form-control" name="password" placeholder="Password">
                </div>
                <div class="my-1">
                    <input type="text" class="form-control" name="first_name" placeholder="First name">
                </div>
                <div class="my-1">
                    <input type="text" class="form-control" name="last_name" placeholder="Last name">
                </div>
                <div class="my-1">
                    <input type="text" class="form-control" name="email" placeholder="Email">
                </div>
            </form>
        </div>
        <div class="row">
            <div class="container text-right">
                <button class="btn btn-shadow btn-light" id="postSubmit">SUBMIT</button>
            </div>
        </div>
    </div>
</div>